[Desktop Entry]
Type=Application
Name=HomelabBot
Comment=Discord bot for homelab monitoring
Exec=lxterminal --working-directory=/home/jessie/Desktop/homelab-bot -e "bash -c 'python3 launch.py; exec bash'"
X-GNOME-Autostart-enabled=true